<div class="footer section-space100" style="background-image: url('../assets/images/smefooter.svg'); 
        background-repeat: no-repeat;
        background-size: cover;background-color: white; ">
  <!-- footer -->
  <div class="container">
   
    <div class="row">
     
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12" id="footmob1" style=" display: inline-block;">
            <div class="footer-logo" style="margin-bottom: 10px; display: inline-block;">
              <!-- Footer Logo -->
              <img src="/assets/images/usa.png" id="footlogo"  style="height: 100px; width: 150px; margin-bottom: 10px;" alt="footerlogo">
              <p style="margin-bottom: 2px; color: #fff;">Help & Support</p>
              <a style="margin-left: 20px; color: #fff;" href="mailto:abcds@gmail.com" >abcds@gmail.com</a>
             
            </div>
              <div class="col-xl-8 col-lg-6 col-md-4 col-sm-6 col-6" id="foot" >
                  <div class="widget-social mt40">
                   
                    <p  style="margin-bottom: 2px; margin-left: -18px; color: #fff;">Get In Touch 24x7</p>
                    <!-- widget footer -->
                    <i  style="padding-right: 10px; margin-left: 28px; color: #fff;" class="fa fa-facebook"></i>
                    <i  style="padding-right: 10px; color: #fff;" class="fa fa-google-plus"></i>
                    <i  style="padding-right: 10px; color: #fff;" class="fa fa-twitter"></i>
                    <i style=" color: #fff;" class="fa fa-linkedin"></i>
                </div>
                  <!-- /.widget footer -->
                </div>
          </div>
      <div class="col-xl-8 col-lg-8 col-md-4 col-sm-12 col-12" id="footmob" >
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6"  style="display: inline-block;">
        <div class="widget-footer mt40">
          <!-- widget footer -->
          <ul class="listnone" style="color: #fff;">
            <li><a  style="color: #fff;">Home</a></li>
            <li><a  style="color: #fff;">Services</a></li>
            <li><a  style="color: #fff;">About Us</a></li>
          
          </ul>
        </div>
        <!-- /.widget footer -->
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6" style="display: inline-block;">
        <div class="widget-footer mt40">
          <!-- widget footer -->
          <ul class="listnone">
            <li><a  style="color: #fff;">Car Loan</a></li>
            <li><a  style="color: #fff;">Personal Loan</a></li>
            <li><a  style="color: #fff;">Education Loan</a></li>
           
          </ul>
        </div>
        <!-- /.widget footer -->
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6" style="display: inline-block;">
          <div class="widget-footer mt40">
            <!-- widget footer -->
            <ul class="listnone" >
              <li><a style="color: #fff;" >Car Loan</a></li>
              <li><a style="color: #fff;" >Personal Loan</a></li>
              <li><a style="color: #fff;">Education Loan</a></li>
             
            </ul>
          </div>
          <!-- /.widget footer -->
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6" style="display: inline-block; ">
            <div class="widget-footer mt40">
              <!-- widget footer -->
              <ul class="listnone" style="color: #fff;">
                <li><a  style="color: #fff;">Home</a></li>
                <li><a  style="color: #fff;">Services</a></li>
                <li><a  style="color: #fff;">About Us</a></li>
              
              </ul>
            </div>
            <!-- /.widget footer -->
          </div>
        <br>
        <div class="col-xl-12 col-lg-12 col-md-3 col-sm-12 col-12" style="display: inline-block; padding-left: 0px; border-top: solid 1px #54585a40;">
            <div class="widget-footer mt40" >
              <!-- widget footer -->
              <p  style="display: inline-block; padding-right: 5px; color: #fff;">FAQs |</p>
              <p  style="display: inline-block; padding-right: 5px; color: #fff; ">Press |</p>
              <p  style="display: inline-block; padding-right: 5px; color: #fff; ">GST |</p>
              <p  style="display: inline-block; padding-right: 5px; color: #fff;">Privacy Policy </p>
              
            
             
             
            
            </div>
            <p style="color: #ddd; margin-left: 20px;">Copyright 2019 USA Online Loan. All Rights Reserved</p>
        </div> 
        
      
    </div>
  </div>
  
</div>
</div>
