<div class="header-transparent navbar-fixed-top" #pageMenu [ngClass]="{'white':stickyNavMenu}"  >
    <style>
.white{
background-color: white;
}

.logosmall{
   height:50px !important; 
   margin-top: -5px !important;
}
.navup{
    margin-top: -20px !important;
}


        </style>
    <div class="container"   [ngClass]="{'navup':stickyNavMenu}" >
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- logo -->
                <div class="logo" style="padding-bottom: 10px;">
                    <a routerLink="/"><img src="/assets/images/usa.png"  [ngClass]="{'logosmall':stickyNavMenu}" style="height:70px; margin-top: -20px;"  alt="usa"></a>
                </div>
            </div>
            <!-- logo -->
            <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12">
                <div id="navigation">
                    <!-- navigation start-->
                    <ul>
                        <li class="active"><span class="submenu-button"></span><a routerLink="/"class="animsition-link">Home</a>

                        </li>
                        <li><span class="submenu-button"></span><a routerLink="/" class="animsition-link">Fees & Charges</a>

                        </li>
                        <li><span class="submenu-button"></span><a routerLink="/" class="animsition-link">FAQs
                                </a>

                        </li>
                        <!-- <li><span class="submenu-button"></span><a routerLink="/compliance"
                                class="animsition-link">Unsecured Personal Loans</a>

                        </li> -->
                        <li><span class="submenu-button"></span><a href="/" class="animsition-link">Contact Us </a>

                        </li>
                        <li><span class="submenu-button"></span><a href="/"  class="animsition-link">Apply Online</a>

                        </li>
                    </ul>
                </div>
                <!-- /.navigation start-->
            </div>
        </div>
    </div>
</div>