<div class="spacer s2"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="trigger1" class="spacer s0"></div>

<div style="  margin: 0px auto;
width: 100%;
max-width: 575px;
text-align: center;
min-height: 135px;">
  
<svg class="applyLoan"
width="100%"
height="100%"
viewBox="0 0 1028 547"
version="1.1"
xmlns="http://www.w3.org/2000/svg"
xmlns:xlink="http://www.w3.org/1999/xlink"
xml:space="preserve"
xmlns:serif="http://www.serif.com/"
style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.5;">
<g><path   id="word"
  d="M129.268,0.13c0,0 -99.211,31.494 -123.764,129.096c0,0 -17.778,74.979 44.799,128.059c60.207,51.61 170.082,47.808 170.082,47.808c0,0 109.942,-2.648 202.026,-18.274c0,0 121.068,-18.818 251.941,-43.918c0,0 115.527,-26.269 200.414,-13.108c120.053,20.58 144.22,102.133 144.22,102.133c0,0 3.273,9.228 3.772,26.804c1.222,45.143 -11.534,134.723 -115.731,168.976c0,0 -45.859,13.623 -145.211,17.565"
  style="fill:none;stroke:#000;stroke-width:2px;"/>
  <path
  d="M129.268,0.13c0,0 -99.211,31.494 -123.764,129.096c0,0 -17.778,74.979 44.799,128.059c60.207,51.61 170.082,47.808 170.082,47.808c0,0 109.942,-2.648 202.026,-18.274c0,0 121.068,-18.818 251.941,-43.918c0,0 115.527,-26.269 200.414,-13.108c120.053,20.58 144.22,102.133 144.22,102.133c0,0 3.273,9.228 3.772,26.804c1.222,45.143 -11.534,134.723 -115.731,168.976c0,0 -45.859,13.623 -145.211,17.565"
  style="fill:none;stroke:#fff;stroke-width:3px;stroke-dasharray:12,18,0,0;"/>
  <path d="M444.432,281l0,5.065l-12.322,4.935l0,-8l12.322,-2Zm581.801,69.254l-5.037,0.53l-6.196,-11.739l7.956,-0.836l3.277,12.045Zm-1018.29,-212.679l-5.896,-0.925l-1.402,-11.167l7.901,1.251l-0.603,10.841Z" style="fill:#fff;fill-rule:nonzero;"/>
  <g><path class="opac1" d="M1026.4,337.652l-4.724,7.07l-6.934,-4.277" style="fill:none;stroke:#000;stroke-width:2px;stroke-linecap:round;stroke-linejoin:miter;"/>
    <path class="opac2" d="M434.386,279.588l7.294,4.369l-3.93,7.137" style="fill:none;stroke:#000;stroke-width:2px;stroke-linecap:round;stroke-linejoin:miter;"/>
    <path class="opac3" d="M12.373,129.354l-7.766,3.462l-3.585,-7.316" style="fill:none;stroke:#000;stroke-width:2px;stroke-linecap:round;stroke-linejoin:miter;"/></g>
</g>
</svg>
</div>

<div class="spacer s2"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
