<app-header></app-header>
<app-intro></app-intro>



<div class="bg-white section-space80" style="background:white;background-image:url('/assets/clouddown.svg');
background-repeat: no-repeat;
background-size: cover; background-position: 0px 0px;">
  <div class="container">
    <div class="row">
      <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
        <div class="mb100 text-center section-title">
          <!-- section title start-->
          <h1>Our Approach...</h1>
          <p>Your search for a quick loan provider stops here. Call or apply now. It’s free.</p>
        </div>
        <!-- /.section title start-->
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;">

        <div class="example-card">
          <img class="example-header-image" style="width:60px;height:60px" src="assets/images/usa-01.svg">
          <div><br>
            <p style="
      margin-top:10px;
      color: #38526d;
      font-size: 18px;
      font-weight: 500;
      
      line-height: 18px;"> Enter your details</p>
            <p style="
       font-weight: 500;
       color:#3c5670;
       ">
              The information you provide us online will be kept confidential. Enter basic details in the form and then wait for us to give you an in-principle approval.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;">

        <div class="example-card">
          <img class="example-header-image" style="width:60px;height:60px" src="assets/images/usa-02.svg">
          <div><br>
            <p style="
      margin-top:10px;
      color: #38526d;
      font-size: 18px;
      font-weight: 500;
      line-height: 18px;">Get an approval</p>
            <p style="
            color:#3c5670;
       font-weight: 500;
       ">
             After we review your information, we’ll give you our decision. Then we’ll give you an in-principle approval and proceed to verification.

            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;">

        <div class="example-card">
          <img class="example-header-image" style="width:60px;height:60px" src="assets/images/usa-03.svg">
          <div>
            <br>
            <p style="
      margin-top:10px;
      color: #38526d;
      font-size: 18px;
      font-weight: 500;
      line-height: 18px;"> Withdraw cash </p>
            <p style="
            color:#3c5670;
       font-weight: 500;
       ">
              After we review your information, we’ll give you our decision. Then we’ll give you an in-principle approval and proceed to verification.
            </p>
          </div>
        </div>
      </div>
     


    </div>

    <div class="row" style="margin-bottom: -5%;">
      <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12 text-center">
        <!-- <a href="#" class="btn btn-default">Apply Now</a> </div> -->
      </div>
    </div>
  </div>
</div>
 


<div class="bg-white  " style="background-color: white !important; height: 1200px; overflow: hidden;" *ngIf="1">
  <div class="container applyLoan " style="background-color: white !important;">

    <div class="ayHead aos-init aos-animate" data-aos="fade-up" data-aos-duration="400" data-aos-delay="500"
      data-aos-offset="200">
      <h3>Easier to apply. Quicker to disburse</h3>
    </div>
    <div class="ayPara aos-init aos-animate" data-aos="fade-up" data-aos-duration="400" data-aos-delay="600"
      data-aos-offset="200">


      <div class="expand-para aos-init aos-animate" data-aos="fade-up" data-aos-duration="400" data-aos-delay="600"
        data-aos-once="true" data-aos-offset="200">
        <span>New business growth opportunities can come anytime. We want you to
          stay ready to grab them. No more waiting till you have enough funds.</span>

        <span class="complete">Our instant business loans are backed by fully online documentation. Just
          apply for a loan quickly, and get it disbursed in a snap. Get freedom and
          peace of mind to run your business the way you want, when you want.</span>

        <span class="expand-more">READ MORE</span>
      </div>
    </div>
    <div class="ayContainer" id="backdot" style="background-color: white; background:  url(/assets/doted.png) no-repeat ;">
      <div class="ay-firstHalf " >
        <div class="ay-box ay-one row aos-init aos-animate "  data-aos="zoom-in" data-aos-delay="100" data-aos-duration="400"  data-aos-offset="200"   style="   padding: 20px 10px;
        border-radius: 20px;
        opacity: 1;
        box-shadow: 0 0 30px 6px #eceff5;
        margin-bottom: 2%; width: 400px;;">
         <div class="col-2" style="   padding: 0px;">
          <img src="/assets/images/usaon3.png" style="height: 70px;" alt="downloadapp">

         </div> <div class="col-10" >
              <h5>
            Step 1</h5>
          <p>Your journey starts easy. Download the form on our mobile .</p>
         </div>
       
        </div>

        <div class="ay-box ay-two row aos-init aos-animate "  data-aos="zoom-in" data-aos-delay="500" data-aos-duration="400"  data-aos-offset="200"    style="   padding: 20px 10px;
        border-radius: 20px;
        opacity: 1;
        box-shadow: 0 0 30px 6px #eceff5;
        margin-bottom: 2%; width: 400px;;">
         <div class="col-2" style="   padding: 0px;">
          <img src="/assets/images/usaon2.png" style="height: 70px;" alt="downloadapp">

         </div> <div class="col-10" >
              <h5>
                Step 2</h5>
          <p>After you submit the form you can call a representative with your Case ID to discuss options.</p>
         </div>
       
        </div>


        <!-- <div class="ay-box ay-two" style="opacity: 1;">
          <img src="https://www.tribe3.com/wp-content/themes/tribe3/assets/images/temp.png" alt="temp">
          <h5>Are you eligible?</h5>
          <p>Next, check if you meet the criteria, by answering a few quick questions on
            the form.</p>
        </div> -->
      </div>

      <div class="ay-secHalf ">
              <div class="ay-box ay-three row  aos-init aos-animate "  data-aos="zoom-in" data-aos-delay="900" data-aos-duration="400"  data-aos-offset="200"    style="   padding: 20px 10px;
        border-radius: 20px;
        box-shadow: 0 0 30px 6px #eceff5;
        margin-bottom: 2%; width: 400px;;">
         <div class="col-2" style="   padding: 0px;">
          <img src="/assets/images/usaon4.png" style="height: 70px;" alt="downloadapp">

         </div> <div class="col-10" >
              <h5>
                Step 3</h5>
          <p>Without further ado, our authentication team will then review your case and do a diligent vetting of all the documentation you provide us. </p>
         </div>
       
        </div>
    <div class="ay-box ay-four row  aos-init aos-animate "  data-aos="zoom-in" data-aos-delay="900" data-aos-duration="400"  data-aos-offset="200"    style="   padding: 20px 10px;
        border-radius: 20px;
        box-shadow: 0 0 30px 6px #eceff5;
        margin-bottom: 2%; width: 400px;;">
         <div class="col-2" style="   padding: 0px;">
          <img src="/assets/images/usaon5.png" style="height: 70px;" alt="downloadapp">

         </div> <div class="col-10" >
              <h5>
                Step 4</h5>
          <p>Once all your documents have been scrutinized the money will be deposited in your bank account.</p>
         </div>
       
        </div>


      

      </div>
    </div>
    <div class="ayContainer" id="backdot2" style="background-color: white; ">
      <div class="ay-firstHalf "  >
        <div class="ay-box ay-one row aos-init aos-animate " id="steps"  data-aos="zoom-in" data-aos-delay="100" data-aos-duration="400"  data-aos-offset="200"   style="   padding: 20px 10px;
        border-radius: 20px;
        opacity: 1;
        box-shadow: 0 0 30px 6px #eceff5;
        margin-bottom: 2%; width: 400px;;">
         <div class="col-2" style="   padding: 0px;">
          <img src="/assets/images/usaon3.png" style="height: 70px;" alt="downloadapp">

         </div> <div class="col-10" >
              <h5>
            Step 1</h5>
          <p>Your journey starts easy. Download the form on our mobile .</p>
         </div>
       
        </div>

        <div class="ay-box ay-two row aos-init aos-animate " id="steps" data-aos="zoom-in" data-aos-delay="500" data-aos-duration="400"  data-aos-offset="200"    style="   padding: 20px 10px;
        border-radius: 20px;
        opacity: 1;
        box-shadow: 0 0 30px 6px #eceff5;
        margin-bottom: 2%; width: 400px;;">
         <div class="col-2" style="   padding: 0px;">
          <img src="/assets/images/usaon2.png" style="height: 70px;" alt="downloadapp">

         </div> <div class="col-10" >
              <h5>
                Step 2</h5>
          <p>After you submit the form you can call a representative with your Case ID to discuss options.</p>
         </div>
       
        </div>


        <!-- <div class="ay-box ay-two" style="opacity: 1;">
          <img src="https://www.tribe3.com/wp-content/themes/tribe3/assets/images/temp.png" alt="temp">
          <h5>Are you eligible?</h5>
          <p>Next, check if you meet the criteria, by answering a few quick questions on
            the form.</p>
        </div> -->
      </div>

      <div class="ay-secHalf ">
              <div class="ay-box ay-three row  aos-init aos-animate "  id="steps2"  data-aos="zoom-in" data-aos-delay="900" data-aos-duration="400"  data-aos-offset="200"    style="   padding: 20px 10px;
        border-radius: 20px;
        box-shadow: 0 0 30px 6px #eceff5;
        margin-bottom: 2%; width: 400px;;">
         <div class="col-2" style="   padding: 0px;">
          <img src="/assets/images/usaon4.png" style="height: 70px;" alt="downloadapp">

         </div> <div class="col-10" >
              <h5>
                Step 3</h5>
          <p>Without further ado, our authentication team will then review your case and do a diligent vetting of all the documentation you provide us. </p>
         </div>
       
        </div>
    <div class="ay-box ay-four row  aos-init aos-animate " id="steps3" data-aos="zoom-in" data-aos-delay="900" data-aos-duration="400"  data-aos-offset="200"    style="   padding: 20px 10px;
        border-radius: 20px;
        box-shadow: 0 0 30px 6px #eceff5;
        margin-bottom: 2%; width: 400px;;">
         <div class="col-2" style="   padding: 0px;">
          <img src="/assets/images/usaon5.png" style="height: 70px;" alt="downloadapp">

         </div> <div class="col-10" >
              <h5>
                Step 4</h5>
          <p>Once all your documents have been scrutinized the money will be deposited in your bank account.</p>
         </div>
       
        </div>


      

      </div>
    </div>

  </div>
</div>

<br>


<div class="section-space80" style="background-color: #fff;" *ngIf="0">
  <div class="container">
    <div class="row">
      <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
        <div class="mb60 text-center section-title">
          <!-- section title start-->
          <h1>Why SMEs Choose Us</h1>
          <p>SME Bazaar is the only place where a Small or Med</p>
        </div>
        <!-- /.section title start-->
      </div>
    </div>
    <div class="row" style="margin-top:2%">
      <div class="col-xl-1 col-lg-1 col-md-0 col-sm-0 col-0">
      </div>
      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12  justify-content-around" style="margin-right:0%;">
        <img class="example-header-image" style="width:100px;height:100px;padding:5%;margin-top:8%;margin-right: 0%;"
          src="assets/images/montage_loan.svg">

      </div>
      <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
        <div class="example-card" style="width:100%;padding:4%;">
          <div>
            <p style="
       
        color: #38526d;
        font-size: 16px;
        font-weight: 500;
       margin-bottom:5px"> Mortgage Loan </p>
            <p style="
         font-weight:400;
         font-size: 14px;
         ">
              Get the best interest rates from the most trusted lenders. We'll help you find the best
              loan for you.

            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-1 col-lg-1 col-md-0 col-sm-0 col-0">
      </div>
    </div>
    <div class="row" style="margin-top:2%">
      <div class="col-xl-1 col-lg-1 col-md-0 col-sm-0 col-0">
      </div>
      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12  justify-content-around" style="padding-right:0px;">
        <img class="example-header-image" style="width:100px;height:100px;padding:5%;margin-top:10%;margin-right: 0%;"
          src="assets/images/montage_loan.svg">

      </div>
      <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
        <div class="example-card" style="width:100%;padding:4%;">
          <div>
            <p style="
   
    color: #38526d;
    font-size: 16px;
    font-weight: 500;
    margin-bottom:5px"> Mortgage Loan </p>
            <p style="
     font-weight: 400;
     font-size: 14px;
     ">
              Get the best interest rates from the most trusted lenders. We'll help you find the best
              loan for you.

            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-1 col-lg-1 col-md-0 col-sm-0 col-0">
      </div>
    </div>
    <div class="row" style="margin-top:2%">
      <div class="col-xl-1 col-lg-1 col-md-0 col-sm-0 col-0">
      </div>
      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12  justify-content-around" style="margin-right:0%;">
        <img class="example-header-image" style="width:100px;height:100px;padding:5%;margin-top:10%;margin-right: 0%;"
          src="assets/images/montage_loan.svg">

      </div>
      <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
        <div class="example-card" style="width:100%;padding:4%;">
          <div>
            <p style="

color: #38526d;
font-size: 16px;
font-weight: 500;
margin-bottom:5px"> Mortgage Loan </p>
            <p style="
      font-size: 14px;
 font-weight: 400;
 ">
              Get the best interest rates from the most trusted lenders. We'll help you find the best
              loan for you.

            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-1 col-lg-1 col-md-0 col-sm-0 col-0">
      </div>
    </div>
  </div>
</div>

<style>
  .applyLoan {
    display: block;
    position: relative;
    padding: 60px 0;
  }

</style>
<div class="bg-default section-space80" *ngIf="0">
  <div class="container">
    <div class="row">
      <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
        <div class="mb60 text-center section-title">
          <!-- section title start-->
          <h1 class="title-white">Some of our Awesome Testimonials</h1>
          <p> You won’t be the only one lorem ipsu mauris diam mattises.</p>
        </div>
        <!-- /.section title start-->
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 clearfix ">
        <div class="testimonial-block mb30">
          <div class="bg-white pinside30 mb20">
            <p class="testimonial-text"> “I loved the customer service you guys provided me. That was
              very nice and patient with questions I had. I would really like definitely come back
              here”</p>
          </div>
          <div class="testimonial-autor-box">
            <div class="testimonial-img pull-left"> <img src="assets/images/testimonial-img.jpg"
                alt="Borrow - Loan Company Website Template"> </div>
            <div class="testimonial-autor pull-left">
              <h4 class="testimonial-name">Donny J. Griffin</h4>
              <span class="testimonial-meta">Personal Loan</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 clearfix ">
        <div class="testimonial-block mb30">
          <div class="bg-white pinside30 mb20">
            <p class="testimonial-text"> “I had a good experience with Insight Loan Services. I am
              thankful to insight for the help you guys gave me. My loan was easy and fast. thank you
              Insigtht”</p>
          </div>
          <div class="testimonial-autor-box">
            <div class="testimonial-img pull-left"> <img src="assets/images/testimonial-img-1.jpg"
                alt="Borrow - Loan Company Website Template"> </div>
            <div class="testimonial-autor pull-left">
              <h4 class="testimonial-name">Mary O. Randle</h4>
              <span class="testimonial-meta">Education Loan</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 clearfix ">
        <div class="testimonial-block mb30">
          <div class="bg-white pinside30 mb20">
            <p class="testimonial-text"> “We came out of their offices very happy with their service.
              They treated us very kind. Definite will come back. The waiting time was very
              appropriate.”</p>
          </div>
          <div class="testimonial-autor-box">
            <div class="testimonial-img pull-left"> <img src="assets/images/testimonial-img-2.jpg"
                alt="Borrow - Loan Company Website Template"> </div>
            <div class="testimonial-autor pull-left">
              <h4 class="testimonial-name">Lindo E. Olson</h4>
              <span class="testimonial-meta">Car Loan</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-space40 bg-white" *ngIf="0" >
  <div class="container">
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="assets/images/logo-1.jpg"
          alt="Borrow - Loan Company Website Template"> </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="assets/images/logo-2.jpg"
          alt="Borrow - Loan Company Website Template"> </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="assets/images/logo-3.jpg"
          alt="Borrow - Loan Company Website Template"> </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="assets/images/logo-4.jpg"
          alt="Borrow - Loan Company Website Template"> </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="assets/images/logo-5.jpg"
          alt="Borrow - Loan Company Website Template"> </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="assets/images/logo-1.jpg"
          alt="Borrow - Loan Company Website Template"> </div>
    </div>
  </div>
</div>
<div class="bg-white section-space80" *ngIf="0">
  <div class="container">
    <div class="row">
      <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12" >
        <div class="mb100 text-center section-title" >
          <!-- section title start-->
          <h1>Step Up Your Business</h1>
          <p>Isn’t it amazing to have a special business dream? That’s exactly why we have business loan
            funding tailored to your needs.</p>
        </div>
        <!-- /.section title start-->
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12" style="margin-bottom: 5%;">

        <div class="example-card">
          <img class="example-header-image" style="width:50px;height:50px" src="assets/images/business_loan.svg">
          <div><br>
            <p style="
        margin-top:10px;
        color: #38526d;
        font-size: 16px;
        font-weight: 600;
        
        line-height: 18px;"> Business Loans </p>
            <p style="
         font-weight: 500;
         ">
              Get the best interest rates from the most trusted lenders. We'll help you find the best
              loan for you.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12" style="margin-bottom: 5%;">

        <div class="example-card" style="padding:5%">
          <img class="example-header-image" style="width:50px;height:50px;position:relative"
            src="assets/images/montage_loan.svg">
          <div>
            <p style="
        
        color: #38526d;
        font-size: 16px;
        font-weight: 600;
        line-height: 18px;"> Mortgage Loan </p>
            <p style="
         font-weight: 500;
         ">
              Get the best interest rates from the most trusted lenders. We'll help you find the best
              loan for you.

            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12" style="margin-bottom: 5%;">

        <div class="example-card">
          <img class="example-header-image" style="width:50px;height:50px" src="assets/images/working_capital.svg">
          <div>
            <br>
            <p style="
        margin-top:10px;
        color: #38526d;
        font-size: 16px;
        font-weight: 600;
        line-height: 18px;"> Working Capital </p>
            <p style="
         font-weight: 500;
         ">
              Get the best interest rates from the most trusted lenders. We'll help you find the best
              loan for you.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12" style="margin-bottom: 5%;">

        <div class="example-card">
          <img class="example-header-image" style="width:50px;height:50px" src="assets/images/credit_card.svg">
          <br>
          <div>
            <p style="
            margin-top:10px;
            color: #38526d;
            font-size: 16px;
            font-weight: 600;
            line-height: 18px;"> Loan Against Credit Card Sale</p>
            <p style="
             font-weight: 500;
             ">
              Get the best interest rates from the most trusted lenders. We'll help you find the best
              loan for you.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12" style="margin-bottom: 5%;">

        <div class="example-card">
          <img class="example-header-image" style="width:50px;height:50px" src="assets/images/bill_discount.svg">
          <br>
          <div>
            <p style="
                margin-top:10px;
                color: #38526d;
                font-size: 16px;
                font-weight: 600;
                line-height: 18px;"> Bill Discount </p>
            <p style="
                 font-weight: 500;
                 ">
              Get the best interest rates from the most trusted lenders. We'll help you find the best
              loan for you.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12" style="margin-bottom: 5%;">

        <div class="example-card">
          <img class="example-header-image" style="width:50px;height:50px" src="assets/images/trade_finance.svg">
          <br>
          <div>
            <p style="
                    margin-top:10px;
                    color: #38526d;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 18px;"> Trade Finance </p>
            <p style="
                     font-weight: 500;
                     ">
              Get the best interest rates from the most trusted lenders. We'll help you find the best
              loan for you.
            </p>
          </div>
        </div>
      </div>


    </div>

    <div class="row" style="margin-bottom: -5%;">
      <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12 text-center">
        <a href="#" class="btn btn-default">Apply Now</a> </div>
    </div>
  </div>
</div>
<div class="section-space80" *ngIf="0">
  <div class="container">
    <div class="row">
      <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
        <div class="mb60 text-center section-title">
          <!-- section title start-->
          <h1>Latest News from Loan Company</h1>
          <p> Our mission is to deliver reliable, latest news and opinions.</p>
        </div>
        <!-- /.section title start-->
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
        <div class="post-block mb30">
          <div class="post-img">
            <a href="blog-single.html" class="imghover"><img src="assets/images/blog-img.jpg"
                alt="Borrow - Loan Company Website Template" class="img-fluid"></a>
          </div>
          <div class="bg-white pinside40 outline">
            <h2><a href="blog-single.html" class="title">Couples Buying New Home Loan</a></h2>
            <p class="meta"><span class="meta-date">Aug 25, 2017</span><span class="meta-author">By<a href="#">
                  Admin</a></span></p>
            <p>Fusce sed erat libasellus id orci quis ligula pret do lectus velit, a malesuada urna
              sodales eu.</p>
            <a href="blog-single.html" class="btn-link">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
        <div class="post-block mb30">
          <div class="post-img">
            <a href="blog-single.html" class="imghover"><img src="assets/images/blog-img-1.jpg"
                alt="Borrow - Loan Company Website Template" class="img-fluid"></a>
          </div>
          <div class="bg-white pinside40 outline">
            <h2><a href="blog-single.html" class="title">Business Man Thinking for Loan</a></h2>
            <p class="meta"><span class="meta-date">Aug 24, 2017</span><span class="meta-author">By<a href="#">
                  Admin</a></span></p>
            <p>Nulla vehicula nibh vel malesuada dapibus ringilla nunc mi sit amet fbendum sapierttitor
              nibh. </p>
            <a href="blog-single.html" class="btn-link">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
        <div class="post-block mb30">
          <div class="post-img">
            <a href="blog-single.html" class="imghover"><img src="assets/images/blog-img-2.jpg"
                alt="Borrow - Loan Company Website Templates" class="img-fluid"></a>
          </div>
          <div class="bg-white pinside40 outline">
            <h2><a href="blog-single.html" class="title">Are you students looking for loan ?</a></h2>
            <p class="meta"><span class="meta-date">Aug 23, 2017</span><span class="meta-author">By<a href="#">
                  Admin</a></span></p>
            <p>Malesuada urna sodales euusce sed erat libasellus id orci quis ligula pretium co ctus
              velit.</p>
            <a href="blog-single.html" class="btn-link">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-space80 bg-white" *ngIf="0">
  <div class="container">
    <div class="row">
      <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
        <div class="mb60 text-center section-title">
          <!-- section title-->
          <h1>We are Here to Help You</h1>
          <p>Our mission is to deliver reliable, latest news and opinions.</p>
        </div>
        <!-- /.section title-->
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="bg-white bg-boxshadow pinside40 outline text-center mb30">
          <div class="mb40"><i class="icon-calendar-3 icon-2x icon-default"></i></div>
          <h2 class="capital-title">Apply For Loan</h2>
          <p>Looking to buy a car or home loan? then apply for loan now.</p>
          <a href="#" class="btn-link">Get Appointment</a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="bg-white bg-boxshadow pinside40 outline text-center mb30">
          <div class="mb40"><i class="icon-phone-call icon-2x icon-default"></i></div>
          <h2 class="capital-title">Call us at </h2>
          <h1 class="text-big">800-123-456 / 789 </h1>
          <p>lnfo@loanadvisor.com</p>
          <a href="#" class="btn-link">Contact us</a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="bg-white bg-boxshadow pinside40 outline text-center mb30">
          <div class="mb40"> <i class="icon-users icon-2x icon-default"></i></div>
          <h2 class="capital-title">Talk to Advisor</h2>
          <p>Need to loan advise? Talk to our Loan advisors.</p>
          <a href="#" class="btn-link">Meet The Advisor</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="bg-white section-space80" style="background:white;background-image:url('../../../assets/images/rag2.svg');background-position: 0 0 -120px -200px;
background-repeat: no-repeat;
background-size: cover;
z-index:1000;margin-top:-10%;">
  <div class="container" style="z-index:1000000;">
    <div class="row">
      <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
        <div class="mb100 text-center section-title">
          <!-- section title start-->
          <h2>Some Of Our Awesome Testimonials</h2>

        </div>
        <!-- /.section title start-->
      </div>
    </div>
    <div class="row" >
     
      <div data-aos="zoom-out-up"  data-aos-delay="500" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12" style="margin-bottom: 5%;">

        <div class="example-card"  >
          <img class="" style="width:90px;height:90px" src="assets/images/person-face-1.png">
          <div><br>
            <p style="
          margin-top:10px;
          color: #4d6f94;
          font-size: 20px;
          font-weight: 500;
          
          line-height: 16px;">Jessi </p>
            <p style="
           font-weight: 400;
           ">
             I Was Simply Delighted To Get My Loan sanctioned So Quickly.
            </p>
          </div>
        </div>
      </div>
      <div data-aos="zoom-out-up"   data-aos-delay="500" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12" style="margin-bottom: 5%;">

        <div class="example-card">
          <img class="" style="width:90px;height:90px" src="assets/images/person-face-2.png">
          <div><br>
            <p style="
          margin-top:10px;
          color: #4d6f94;
          font-size: 20px;
          font-weight: 500;
          
          line-height: 16px;"> williamson </p>
            <p style="
           font-weight: 400;
           ">
              Get the best interest rates from the most trusted lenders.
            </p>
          </div>
        </div>
      </div>
      <div data-aos="zoom-out-up"  data-aos-delay="500" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12" style="margin-bottom: 5%;">

        <div class="example-card">
          <img class="" style="width:90px;height:90px" src="assets/images/person-face-3.png">
          <div><br>
            <p style="
          margin-top:10px;
          color: #4d6f94;
          font-size: 20px;
          font-weight: 500;
          
          line-height: 16px;"> Albha </p>
            <p style="
           font-weight: 400;
           ">
              Get the best interest rates from the most trusted lenders.
            </p>
          </div>
        </div>
      </div>
      <div data-aos="zoom-out-up"   data-aos-delay="500" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12" style="margin-bottom: 5%;">

        <div class="example-card">
          <img class="" style="width:90px;height:90px" src="assets/images/person-face-5.png">
          <div><br>
            <p style="
          margin-top:10px;
          color: #4d6f94;
          font-size: 20px;
          font-weight: 500;
          
          line-height: 16px;"> David </p>
            <p style="
           font-weight: 400;
           ">
              Get the best interest rates from the most trusted lenders.
            </p>
          </div>
        </div>
      </div>



  </div>
  </div>
</div>

<div class="wrapper" style="max-width: 100% !important;" *ngIf="0">
  <div class="row" style="margin-right: 0px; margin-left: 0px;">
    <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
      <div class="mb60 text-center section-title">
        <!-- section title start-->
        <h1>About Us</h1>

      </div>
      <!-- /.section title start-->
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" data-aos="fade-right" data-aos-duration="1500">

      <div class="profile-card js-profile-card">


        <div style="display: inline-block;">
          <img src="assets/images/target.svg" alt="" style=" width: 70px; height: 70px;  margin-top:-70px;">
        </div>
        <div style="display: inline-block; width: 70%; margin-left: 40px;">
          <p style=" color: #3c4d6b; font-size: 20px; font-weight: 600; margin-bottom: 0px;"> Our Vision
          </p>
          <p>To contribute to the growth in Indian
            economy by providing superior financial
            solutions to the under-financed small
            businesses </p>
        </div>

        <br>
        <br>
        <br>
        <br>
        <div style="display: inline-block; ">
          <img src="assets/images/mission.svg" alt="" style=" width: 70px; height: 70px;  margin-top:-70px;">
          <!-- <p style=" color: #3c4d6b; font-size: 20px; font-weight: 600;"> Our Mission</p> -->
        </div>
        <div style="display: inline-block; width: 70%; margin-left: 40px;  ">
          <p style=" color: #3c4d6b; font-size: 20px; font-weight: 600; margin-bottom: 0px;"> Our Mission
          </p>

          <p>Empower small businesses by providing
            easy and accessible financial services that
            harness the power of technology </p>
        </div>

        <br>
        <br>
        <br>
        <br>
        <div style="display: inline-block;">
          <img src="assets/images/diamond.svg" alt="" style=" width: 70px; height: 70px;  margin-top:-70px;">
        </div>
        <div style="display: inline-block; width: 70%; margin-left: 40px; ">
          <p style="color: #3c4d6b; font-size: 20px; font-weight: 600; margin-bottom: 0px;"> Our Values
          </p>

          <p>Agility is about being quick to respond to new ideas and situations, understanding change and
            rising to its challenges by remaining open and positive. </p>
        </div>






      </div>

    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">


      <img src="assets/images/about1.png" data-aos="fade-left" data-aos-duration="1500"
        style="zoom:0.8;padding-left:15%;padding-top:10%">
    </div>
  </div>


</div>




<app-footer></app-footer>


<!-- /.footer -->
<!-- <div class="tiny-footer">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
        <p>© Copyright 2016 | Borrow Loan Company</p>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 text-right">
        <p>Terms of use | Privacy Policy</p>

      </div>
    </div>
  </div>
</div> -->
<!-- back to top icon -->
<a href="#0" class="cd-top" title="Go to top">Top</a>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<script type="text/javascript">
  //jQuery to collapse the navbar on scroll
  $(window).scroll(function () {
    if ($(".header-transparent").offset().top > 50) {
      $(".navbar-fixed-top").addClass("top-nav-collapse");
    } else {
      $(".navbar-fixed-top").removeClass("top-nav-collapse");
    }
  });

  $(function () {
    var thumb = $('.thumb');
    thumb.click(function () {
      $(this).toggleClass('move');

    })
  })

  //aimate

  var $animation_elements = $('.animation-element');
  var $window = $(window);

  function check_if_in_view() {
    var window_height = $window.height();
    var window_top_position = $window.scrollTop();
    var window_bottom_position = (window_top_position + window_height);

    $.each($animation_elements, function () {
      var $element = $(this);
      var element_height = $element.outerHeight();
      var element_top_position = $element.offset().top;
      var element_bottom_position = (element_top_position + element_height);

      //check to see if this current container is within viewport
      if ((element_bottom_position >= window_top_position) &&
        (element_top_position <= window_bottom_position)) {
        $element.addClass('in-view');
      } else {
        $element.removeClass('in-view');
      }
    });
  }

  $window.on('scroll resize', check_if_in_view);
  $window.trigger('scroll', check_if_in_view);

</script>


<!-- Mirrored from jituchauhan.com/borrow/bootstrap-4/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 05 Jan 2020 07:41:25 GMT -->

<style>
  .example-card {
    padding: 20px 10px;
    border-radius: 20px;
    box-shadow: 0 0 30px 6px #eceff5;
    margin-bottom: 2%;

  }

  @media (max-width: 600px) {
    .example-card {
      margin-bottom: 10%;
    }
  }

  .example-header-image {
    zoom: 1.5;
    position: absolute;
    top: -30px;


  }

</style>

<style>
  .chooseLoan .expand-para,
  .applyLoan .expand-para {
    margin: 0px auto;
    width: 100%;
    max-width: 575px;
    text-align: center;
    min-height: 135px;
  }

  .emi-calculator .expand-para {
    max-width: 650px;
    text-align: center;
    margin: 0px auto;
    padding-bottom: 10px;

  }


  .chooseLoan .expand-btn,
  .reachout .expand-btn {

    text-align: center;
    margin: 0px auto;
    width: 100%;
  }

  .chooseLoan .expand-btn a,
  .reachout .expand-btn a,
  .tribe-offer .expand-btn a {
    color: #55d32e;

  }

  .complete {
    display: none;
  }

  .complete1 {
    display: none;
  }

  .expand-more {
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: #55d32e;
    cursor: pointer;
    transition: 1s ease;
  }

  .expand-more1 {
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: #55d32e;
    cursor: pointer;
    transition: 1s ease;
  }

  .expand-morefaq {
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: #55d32e;
    cursor: pointer;
    transition: 1s ease;
  }

  .chooseLoan .loanAnima {
    position: relative;
    width: 100%;
    top: 10px
  }

  .chooseLoan .loanAnima .loanBox {
    position: relative;
    width: 33.33%;
    text-align: center;
    float: left;
  }

  .chooseLoan .loanAnima .loanBox.l-one {
    left: 0;
    margin-top: 130px;
  }

  .chooseLoan .loanAnima .loanBox.l-two {
    left: 0;
    margin-top: 62px;
  }

  .chooseLoan .loanAnima .loanBox.l-three {
    left: 0;
    margin-top: -50px;
  }

  .chooseLoan .loanAnima .loanBox img {
    display: block;
    max-width: 64px;
    margin: 0 auto;
  }

  .chooseLoan .loanAnima .loanBox .lt-type {
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin: 5px 0 20px 0;
    display: block;
  }

  .chooseLoan .loanAnima .loanBox .oval {
    width: 30px;
    height: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 2.1px #ffffff;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }

  .chooseLoan .loanAnima .loanBox .oval span {
    width: 18px;
    height: 18px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin: 4px 0;
  }

  .chooseLoan .loanAnima .loanBox .lt-amt {
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    display: block;
    margin: 30px 0 0 0
  }

  .chooseLoan .loanAnima .loanBox .lt-amt span {
    font-weight: 300;
  }

  .chooseLoan .loanAnima .loanBox .lt-details {
    max-width: 202px;
    text-align: center;
    margin: 0 auto;
    display: block;
  }

  .chooseLoan .loanAnima .loanBox .lt-details p {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #4f4f4f;
    margin-bottom: 0;
    padding: 20px 0
  }

  .chooseLoan .loanAnima .loanBox .lt-details p:first-child {
    border-bottom: solid 1px rgba(151, 151, 151, 0.22);
  }

  .chooseLoan .loanAnima .loanBox a {
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    width: 130px;
    height: 45px;
    border-radius: 25px;
    background-color: #55d32e;
    display: block;
    margin: 15px auto 0 auto;
    text-transform: uppercase;
    line-height: 45px;
    position: relative;
    overflow: hidden;
  }




  .chooseLoan .loanAnima .loanBox a:hover span {
    position: relative;
    z-index: 999;
    color: #55d32e
  }

  .chooseLoan .loanAnima .loanBox a:hover {
    border: 1px solid #55d32e;
  }



  .chooseLoan .loanAnima .loanBox a:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 0;
    z-index: 99;
  }

  .chooseLoan .loanAnima .loanBox a:hover:after {
    width: 100%;
    opacity: 1;
  }


  .path2 {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: dash3 4s linear;
    animation-iteration-count: infinite;
    ;
    animation-fill-mode: backwards;
    animation-delay: .4s;
  }

  @keyframes dash3 {
    from {
      stroke-dashoffset: 3000;
    }

    to {
      stroke-dashoffset: 0;
    }
  }




  .path-start1,
  .path-start2 .path-start3 {
    opacity: 0;
  }


  .path-start1.path3 {
    opacity: 1;
  }

  .path-start2.path3 {
    opacity: 1;
  }

  .path-start3.path3 {
    opacity: 1;
  }


  .path3 {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: dash3 12s linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-delay: 1s;

  }


  @keyframes dash3 {
    from {
      stroke-dashoffset: 3000;
    }

    to {
      stroke-dashoffset: 0;
    }
  }







  .applyLoan {
    display: block;
    position: relative;
    padding: 60px 0
  }

  .applyLoan .ayHead {}

  .applyLoan .ayHead h3 {
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }


  .applyLoan .ayPara {
    max-width: 860px;
    margin: 0px auto;
    width: 100%;
  }

  .applyLoan .ayPara p {

    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: center;
    color: #393535;
  }


  .ay-firstHalf {
    float: left;
    width: 50%;
  }

  .ay-secHalf {
    float: left;
    width: 50%;
  }

  .applyLoan .ayContainer {
    position: relative;
    display: block;
    margin-top: 60px;
    float: left;
    width: 100%;
  }


  .applyLoan .ayContainer .ay-box {
    position: relative;
    float: left;
    width: 100%;
    transition: .5s ease all;
    background-color: rgb(255, 255, 255);
  }

  .applyLoan .ayContainer .ay-box img {
    margin-bottom: 30px;
  }

  .applyLoan .ayContainer .ay-box h5 {
    padding-left: 0px;
    max-width: 370px;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

  .applyLoan .ayContainer .ay-box p {
    padding-left: 0px;
    max-width: 370px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #000000;
  }

  .applyLoan .ayContainer .ay-box.ay-one {
    left: 188px;
    margin-bottom: 50px;
    top: -80px;
  }

  .applyLoan .ayContainer .ay-box.ay-two {
    left: 95px;
    top: -15px;
  }

  .applyLoan .ayContainer .ay-box.ay-three {
    margin-top: 250px;
    left: 30px
  }

  .applyLoan .ayContainer .ay-box.ay-four {
    margin-top: 60px;
    left: 107px;
  }


  .svg-path {
    position: absolute;
    z-index: -10;
    top: 312px;
  }

  .reachout {
    background-color: #15243a;
    color: #fff;
    padding: 60px 0;
  }

  .reachout .reachout-head {
    position: relative;
    width: 100%;
  }

  .reachout .reachout-head h3 {
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 10px;
    color: #ffffff;
  }

  .reachout .expand-para span {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    ;
  }

  .reachout .expand-para,
  .benft-tribe p {
    max-width: 570px;
    width: 100%;
    margin: 0px auto 60px auto;
    text-align: center;
  }


  .reachout .rea-box {
    text-align: center;
  }

  .reachout .rea-box img {
    margin-bottom: 40px;
    max-height: 80px;
  }

  .reachout .rea-box h4 {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    max-width: 314px;
    margin: 0 auto;
  }

  .reachout .rea-box h4 span {
    font-size: 28px;
  }

  .reachout .rea-box.rea-wt h4 {
    line-height: 1.2;
  }

</style>





<script>
  function pathPrepare($el) {
    var lineLength = $el[0].getTotalLength();
    $el.css("stroke-dasharray", lineLength);
    $el.css("stroke-dashoffset", lineLength);
  }
  firstDraw();
  secondDraw();

  function firstDraw() {
    let duration = $('.applyLoan').height();
    var $word = $("path#word");

    // prepare SVG
    pathPrepare($word);
    // pathPrepare($dot);

    // init controller
    var controller = new ScrollMagic.Controller();

    // build tween
    var tween = new TimelineMax()
      .add(TweenMax.to($word, 0.9, {
        strokeDashoffset: 0,
        ease: Linear.easeNone
      })) // draw word for 0.9
      .add(TweenMax.to("path", 1, {
        ease: Linear.easeNone
      }), 0); // change color during the whole thing

    // build scene
    var scene = new ScrollMagic.Scene({
        triggerElement: "#trigger1",
        duration: duration,
        tweenChanges: true
      })
      .setTween(tween)
      //    .addIndicators() // add indicators (requires plugin)
      .addTo(controller);
  }

  function secondDraw() {
    if (!mobile) {
      let duration = $('.chooseLoan').height();
      var $word = $("path#word2");
      console.log(isMobile, 111);
      // prepare SVG
      pathPrepare($word);
      // pathPrepare($dot);

      // init controller
      var controller = new ScrollMagic.Controller();

      // build tween
      var tween = new TimelineMax()
        .add(TweenMax.to($word, 0.9, {
          strokeDashoffset: 0,
          ease: Linear.easeNone
        })) // draw word for 0.9
        .add(TweenMax.to("path", 1, {
          ease: Linear.easeNone
        }), 0); // change color during the whole thing

      // build scene
      var scene = new ScrollMagic.Scene({
          triggerElement: "#trigger",
          duration: duration - 200,
          tweenChanges: true
        })
        .setTween(tween)
        // .addIndicators() // add indicators (requires plugin)
        .addTo(controller);
    }

    function secondDraw() {
      if (!mobile) {
        let duration = $('.chooseLoan').height();
        var $word = $("path#word2");
        console.log(isMobile, 111);
        // prepare SVG
        pathPrepare($word);
        // pathPrepare($dot);

        // init controller
        var controller = new ScrollMagic.Controller();

        // build tween
        var tween = new TimelineMax()
          .add(TweenMax.to($word, 0.9, {
            strokeDashoffset: 0,
            ease: Linear.easeNone
          })) // draw word for 0.9
          .add(TweenMax.to("path", 1, {
            ease: Linear.easeNone
          }), 0); // change color during the whole thing

        // build scene
        var scene = new ScrollMagic.Scene({
            triggerElement: "#trigger1",
            duration: duration - 200,
            tweenChanges: true
          })
          .setTween(tween)
          // .addIndicators() // add indicators (requires plugin)
          .addTo(controller);
      }


  }}
    

</script>

<style>
  body {
    overflow-x: hidden;
  }

</style>
