<app-header></app-header>
<div class="card-hero-section" style="background:white;background-image:url('../../../assets/images/headerbg.svg');background-position: 300px 0;
background-repeat: no-repeat;
background-size: cover;">
  <div class="container">
    <div class="row" style="margin-top:10%;margin-bottom:6%;">
      <div data-aos="fade-right" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <!-- hero-caption -->
        <div class="card-hero-block">
          <h1 class="text" style="color:#3c5670;font-size: 32px;font-weight: 600;letter-spacing: 0.1em;">Compliance is
            mandatory, even for
            SMEs</h1>
          <p class="text" style="color:#3c5670">The Regulatory and Compliance Program Services provided by SME Bazaar
            assist organizations in adapting to a changing regulatory environment.</p>
          <div class="mt30">



            <a href="#" class="btn btn-default" style="background-color: #1ea892;">Know More</a>


          </div>
        </div>
        <!-- /.hero-caption -->
      </div>
      <div data-aos="fade-left" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-right">
        <div class="mt10" style="zoom:0.6;margin-top: -10%;margin-right:-8%">
          <img src="../../../assets/images/compliance.png" style="zoom:0.8" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>