
<mat-sidenav-container class="example-container" >
    <mat-sidenav class="menu" mode="side" opened style="   min-width: 230px; max-width: 230px;" >
    
        <div class="col leftSection py-4">
            <a href="/"><img src="http://13.126.161.129/smefinal/images/logo-white.png" class="compLogo mb-4" alt="EasyPolicy"></a>
            <ul class="nav flex-column nav-pills" id="myTab" role="tablist" aria-orientation="vertical">
              <li class="nav-item">
                <a class="dashboard nav-link active show" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard
                  <!-- <span class="blueCircle ml-2 d-none" id="showDashboardCount1">0</span>
                  <p>Your Account Overview</p> -->
                </a>
              </li>
              <!--li class="nav-item">
                <a class="conversations nav-link" id="conversations-tab" data-toggle="tab" href="#conversations" role="tab" aria-controls="conversations" aria-selected="false">Conversations
                  <p>This your support section.</p>
                </a>
              </li-->
              <li class="nav-item">
                <a class="vehicles vehiclesClick nav-link" id="vehicles-tab" data-toggle="tab" href="#vehicles" role="tab" aria-controls="vehicles" aria-selected="false">Profile
                  <!-- <p>We will remind you before expiry of policy.</p> -->
                </a>
              </li>
              <li class="nav-item">
                <a class="vehicles vehiclesClick nav-link" id="vehicles-tab" data-toggle="tab" href="#vehicles" role="tab" aria-controls="vehicles" aria-selected="false">Funding
                  <!-- <p>We will remind you before expiry of policy.</p> -->
                </a>
              </li>
              <!--li class="nav-item">
                <a class="favourites nav-link" id="favourites-tab" data-toggle="tab" href="#favourites" role="tab" aria-controls="favourites" aria-selected="false">Favourites
                  <span class="redCircle ml-2">6</span>
                  <p>Here are the plans tha you liked.</p>
                </a>
              </li-->
              <!--li class="nav-item">
                <a class="payment nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment" aria-selected="false">Quick Pay
                  <p>Manage your payment methods e.g. Debit Card, Credit Card.</p>
                </a>
              </li-->
              <li class="nav-item">
                <a class="feedback nav-link" id="feedback-tab" data-toggle="tab" href="#feedback" role="tab" aria-controls="feedback" aria-selected="false">Rating
                  <!-- <p>Share your experience with us.</p> -->
                </a>
              </li>
            </ul>
          </div>
        
        </mat-sidenav>
    <mat-sidenav-content style="background-color: blue"> 
        <nav class="navbar fixed-top" style="width: 100%">
            <div class="container-fluid">
              <div class="row">
                <div class="col-2">
                  <h4 class="mb-0 mt-2 text-uppercase"></h4>
                </div>
                <div class="col-4">
                  <h4 class="mb-0 mt-2 text-uppercase">My Account</h4>
                </div>
                <div class="col-6 text-right">
                  <a class="userLogin text-capitalize" href="javascript:void(0);">
                    <p id="showCustomerName">Onstep Technologies </p><span><img class="profileLogo" src="https://qbstatic.com/desktop/images/profile-icon.svg" height="32px" alt="icon"></span>
                  </a>
                </div>
              </div>
            </div>
          </nav>
      <app-loanlisting> </app-loanlisting>
    </mat-sidenav-content>
   
  </mat-sidenav-container> 
  <app-footer></app-footer>
